biopython==1.85
certifi==2025.4.26
charset-normalizer==3.4.2
contourpy==1.3.2
cycler==0.12.1
fonttools==4.58.2
idna==3.10
kiwisolver==1.4.8
matplotlib==3.10.3
numpy
packaging
pillow
pyparsing
PySide6
PySide6_Addons
PySide6_Essentials
python-dateutil
requests
shiboken6
six
urllib3
